#banner {
  background-image: url(/img/banner.jpg);
  background-size: 100% auto; }

body {
	background: linear-gradient(to bottom, white, #00FF00); 
}

#nerd {
	background: rgba(255, 255, 255, 0.4);
	border-radius: 30px;
	padding: 30px;
}

#more-nerd {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 30px;
	padding: 5px 0 0 0;
	/*margin: 70px 0 0 0;*/
}

.social {
    width: 5em;
    height: 5em;
    padding: .625em;
}

#email {
	padding: 4px 0 0 15px;
}

#socialmedia-header {
	padding: 12px 0 0 0;
}

#about {
	padding-top: .3em;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 30px;
}